RollFor/
MIGRATION_PLAN_EncounterSetup.md
OGRH_EncounterMgmt copy.lua
PHASE1_TODO.md
OGRH_Core copy.lua
OGRH_Core copy.lua
/MessageBox-main
Scripts/backup/
Scripts/output/
Scripts/WoWCombatLog.txt
Scripts/WoWCombatLog.txt
